<!--  
Data Compression Proxy bridge for Overchan
Copyright (C) 2014-2015  miku-nyan <https://github.com/miku-nyan>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nya.miku.dcpbridge.android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="0.1" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="22"
        tools:ignore="UnusedAttribute" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="nya.miku.dcpbridge.android.AndroidApplication"
        android:theme="@android:style/Theme.Light" >
        <activity
            android:name="nya.miku.dcpbridge.android.LauncherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="nya.miku.dcpbridge.android.NotifService" />
    </application>

</manifest>
